*{
    box-sizing: border-box;
}

body{
    background-color:rgb(177, 213, 225);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer{
    margin-top: 20px;
    height: 70vh;
    width: 90vw;
    padding: 10px;
    border: 5px solid black;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.user{
    width: 50vw;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(65, 123, 65, 0.546);
    border-radius: 20px;
    align-self: end;
}

.ai{
    border-radius: 20px;
    width: 50vw;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(161, 173, 188, 0.546);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: linear-gradient(lightblue, aqua);
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the color and transparency as needed */
    border-radius: 10px;
}

.input-cont{
    height: 20vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.input-cont>input{
    height: 40%;
    width: 70%;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    font-size: larger;
    padding: 10px;
}

.input-cont>button{
    height: 40%;
    width: 20%;
    border-radius: 20px;
    font-size: x-large;
}

.input-cont>button:active{
    transform: scale(0.9);
}